body{
    font-family: 'Pontano Sans', sans-serif;
}

.main-header{
    font-family: 'Bebas Neue', cursive;
    font-size:32px;
    text-align: center;
}

.subtitle{
    font-size: 21px;
    text-align: center;
}

@media screen and (min-width: 640px){
    .main-header{
        font-size:42px;
    }

    .subtitle{
        font-size: 27px;
    }
}

@media screen and (min-width: 960px){
    .main-header{
        font-size:54px;
    }

    .subtitle{
        font-size: 32px;
    }
}